body{
    background-color: rgb(131, 172, 172);
}
h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    color: rgb(231, 214, 214); 
    text-align: center;
}
#botonNombre {
  display: block;
  margin: 20px auto;   /* Centra horizontalmente */
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#botonNombre:hover {
  background-color: #0056b3;
}
#tecnologias {
  display: block;
  margin: 20px auto;   /* Centra horizontalmente */
  padding: 10px 20px;
 background-color: rgb(127, 240, 255);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.imagenes {
  display: flex;              
  gap: 20px;                  
  justify-content: center;    
  align-items: center;        
  flex-wrap: wrap;            
}

.imagenes img {
  width: 300px;               
  height: 200px;              
  object-fit: cover;         
  border-radius: 10px;        
  box-shadow: 0 4px 10px rgba(0,0,0,0.2); 
  transition: transform 0.3s ease;
}

.imagenes img:hover {
  transform: scale(1.05);     

}


